.nav-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
.nav-area .main-menu a {
  font-size: 1.6rem;
  margin: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}

.nav-area #logo {
  text-decoration: none;
  color: #f52225;
  font-size: 4rem;
}
