.section-padding {
  padding: 8rem 0;
}
.section-title {
  text-align: center;
  font-weight: 700;
  text-transform: capitalize;
  font-size: 3.5rem;
  margin: 2rem;
  padding-bottom: 1rem;
}
.section-title::after {
  display: block;
  content: "";
  width: 10rem;
  height: 4px;
  background-color: #f52225;
  margin: 1rem auto;
}
.banner-btn {
  border: 2px solid #fff;
  border-radius: 2rem;
  background-color: transparent;
  color: #fff;
  font-size: 1.6rem;
  text-transform: uppercase;
  padding: 1rem 2rem;
  text-decoration: none;
}
.banner-btn:hover {
  background-color: #fff;
  color: #000;
}
@media (max-width: 991.98px) {
  html {
    font-size: 55%;
  }
  .nav-area {
    position: none !important;
    background-color: #0f172a;
  }
  .navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.8rem !important;
    line-height: 1;
    background-color: #fff !important;
    border: 1px solid #fff !important;
    border-radius: 0.25rem;
    transition: box-shadow 0.15s ease-in-out;
  }
  .banner-text .type-text {
    font-size: 3rem !important;
  }
  .contact-information h3 {
    font-size: 4rem !important;
  }
}

@media (max-width: 575.98px) {
  .footer-area .footer-flex {
    flex-direction: column;
  }
  .banner-text .type-text {
    font-size: 2rem !important;
  }
  .custom-shape-divider-bottom-1654717633 {
    display: none;
  }
  .banner-text {
    font-size: 1.7rem;
  }
  .contact-information h3 {
    font-size: 3rem !important;
  }
}
